<!DOCTYPE html>
<html>
<body>

<h1>PECE COMPONENTES, TU TIENDA DE ELECTRONICA DE CONFIANZA</h1>
	<p>{{username}}</p>
	
	{{#admin}}
	<p>Estas accediendo a la pagina en modo administrador.</p>
	
	<form action="/stats">
		<input type="submit" value="Estadisticas" />
	</form>
	{{/admin}}
	
	{{#logged}}
	<form action="/store">
		<input type="submit" value="Tienda" />
	</form>
	<form action="/logout">
		<input type="submit" value="Cerrar sesion" />
		<input type="hidden" name="_csrf" value={{token}} />
	</form>
	{{/logged}}
	
	{{^logged}}
	<form action="/login">
		<input type="submit" value="Iniciar sesion" />
		<input type="hidden" name="_csrf" value={{token}} />
	</form>
	<form action="/logup">
		<input type="submit" value="Registrarse" />
		<input type="hidden" name="_csrf" value={{token}} />
	</form>
	{{/logged}}
	
</body>
</html>