<!DOCTYPE html>
<html>

<body>

<h1>TIENDA</h1>
<p>Todos nuestros productos al mejor precio</p>
<br>

<table>
<tr>
<td>
<form action = "/cart"">
    <input type="submit" value="Ir al carro" />
</form>
</td>
<td>	
<form action = "/greeting"">
    <input type="submit" value="Volver" />
</form>
<td>
</tr>
<tr>
<td>___________________<td>
</tr>
</table>	
	
<table>
	{{#productos}}
	<tr>
	<td>Nombre del producto:</td>
	<td>{{nombre}}</td>
	</tr>
	<tr>
	<td>Descripcion del producto:</td>
	<td>{{descripcion}}</td>
	</tr>
	<tr>
	<td>Precio de venta:</td>
	<td>{{precio}} euros</td>
	</tr>
	<td>
	<form action="/addproduct">
		<input type="hidden" name= id value={{id}} readonly/>
		<input type="submit"value="Incluir en mi pedido"> 
	</form>
	</td>
	<tr>
	<tr>
	<td>___________________<td>
	</tr>
	<tr>
	{{/productos}}
</table>	

	
</body>
</html>